

/* ===================================================================
 * # manzolacaniago
 * 
 * 
 *
 * ------------------------------------------------------------------- */

 @import url("font-awesome/css/fontawesome-all.css");
 @import url("micons/micons.css");
 @import url("fonts.css");
 @import url(https://fonts.googleapis.com/css?family=Lato);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

 /* author */
 
html {
    position: relative;
    font-family: sans-serif;
      line-height: 1.15;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
}

body {
    background: #ECEFF1; 
    color: rgba(0, 0, 0, 0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    margin-top: -200px;
   }

    /* const */
    .left-back {
      height: 40px;
      width: 40px;
      margin-top: -7rem;
      margin-left: -2rem;
      background:#eee;
      color:#666; /* Icon Color */
      border-radius:5px;
      padding:10px;
    }
    /* end */

   .container {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .menu {
    grid-column: 1/1;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  .menu > .wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .menu .logo {
    max-width: 300px;
    padding: 0em;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0em;
  }

  .wrapper {
    max-width: 100px;
    border-radius: 100%;
    padding: 0em;
    margin-top: 0em;
    margin-bottom: -55px;
  }

  .wrapper {
    text-align: center;
    padding: 2em 1em 3em;
    min-height: 130px;
  }

  .swapi-logo {
      margin-top: 18rem;
      margin-left: 30rem;
      height: 50px;
  }

  /* sect1 */
  .image-slidshow {
      margin-top: 5rem;
      margin-bottom: 5rem;
  }
  .multi-item-carousel{
    .carousel-inner{
      > .item{
        transition: 500ms ease-in-out left;
      }
      .active{
        &.left{
          left:-33%;
        }
        &.right{
          left:33%;
        }
      }
      .next{
        left: 33%;
      }
      .prev{
        left: -33%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item{
          // use your favourite prefixer here
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carouse-control{
      &.left, &.right{
        background-image: none;
      }
    }
  }
  /* end */

   /* footer */
.site-footer {
    background-color:#1e1f22;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr {
    border-top-color:#bbb;
    opacity:0.5;
  }
  .site-footer hr.small {
    margin:20px 0;
  }
  .site-footer h6 {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top: -2.0rem;
    margin-bottom: 1.8rem;
    letter-spacing:2px;
  }
  .site-footer a {
    color:#737373;
  }
  .site-footer a:hover {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links{
    padding-left:0;
    list-style:none;
  }
  .footer-links li {
    display:block;
  }
  .footer-links a
  {
    color:#737373;
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li {
    display:inline-block;
  }
  .site-footer .social-icons-foot {
    text-align:right;
  }
  .site-footer .social-icons-foot  a {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
  }
  .copyright-text
  {
    margin:0;
  }
  
  .foot-1 {
      width: 140px;
      height: 80px;
  }
  .foot-2 {
      width: 100px;
      height: 80px;
  }

  .hr {
    color: white;
    width: 1300px;
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px;
    }
    .hr {
      color: white;
      width: 400px;
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0;
    }
    .site-footer .copyright-text,.site-footer .social-icons-foot 
    {
      text-align:center;
    }
    .hr {
      color: white;
      width: 400px;
    }
  }
  
  .foot-1 {
  }
  .social-icons-foot 
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none;
  }
  .social-icons-foot  li
  {
    display:inline-block;
    margin-bottom:4px;
  }
  .social-icons-foot  li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px;
  }
  .social-icons-foot  a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
  }
  
  .social-icons-foot  a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe;
  }
  .social-icons-foot.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px;
  }
  .social-icons-foot  a.facebook:hover
  {
    background-color:#3b5998;
  }
  .social-icons-foot  a.twitter:hover
  {
    background-color:#00aced;
  }
  .social-icons-foot  a.linkedin:hover
  {
    background-color:#007bb6;
  }
  .social-icons-foot  a.dribbble:hover
  {
    background-color:#ea4c89;
  }
  @media (max-width:767px)
  {
    .social-icons-foot  li.title
    {
      display:block;
      margin-right:0;
      font-weight:600;
    }
  }

  /* sect2 */
  .card-form{
    margin-left: 430px;
    margin-bottom: 5rem;
    width: 500px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
    
    .form-title{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      font-size: 13px;
      font-weight: bold;
      background: #ff297b;
      border-radius: 10px 10px 0 0;
    }

    .logo-form-title {
      width: 200px;
    }
    
    .form-body{
      padding: 10px;
      margin-top: 2rem;
    }
      
      .wor {
        display: flex;
        justify-content: space-around;
        padding: 10px;
      }
        
      .sect2[type="text"]{
          appearance: none;
          width: 100%;
          margin: 0 15px;
          height: 35px;
          padding: 5px 15px;
          border-radius: 5px;
          outline: none;
          border: none;
          background: #e8ebed;
          color: #ff297b;
          font-size: 14px;
        }

        .sect2[type="date"]{
          appearance: none;
          width: 100%;
          margin: 0 15px;
          height: 35px;
          padding: 5px 15px;
          border-radius: 5px;
          outline: none;
          border: none;
          background: #e8ebed;
          color: #ff297b;
          font-size: 14px;
        }
    
    .rule{
      height: 2px;
      background: #e8ebed;
      margin: 0px 35px;
    }
    
    .form-footer{
      margin: 0 25px 15px 25px;
      padding: 15px 10px;
      
    }
      
    .text-sect2 {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 5px;
        padding: 2px 15px;
        background: #ff297b;
        margin-right: 10px;
        color: #ECEFF1;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
      }
      
      #load { 
        color: rgba(0,0,0,0.4); 
        text-align: center; 
        font-size: 13px;
        margin-top: -2.5rem;
   }

    /* ------------------------------------------------------------------- 
   * responsive:
   * section1
   * ------------------------------------------------------------------- */
  @media only screen and (max-width: 600px) {
  .card-form{
    margin-left: 2.5rem;
    margin-bottom: 5rem;
    width: 320px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
}

  
    